<div class="main">
    <div class="header">
        <h2>This is MFE Word Card Deck Component</h2>
    </div>
    <h5> message: {{parentData.message}}</h5>

    <div *ngFor="let wordCardDeck of parentData.deckData">
        <h3>{{ wordCardDeck.wordCardDeckName }}</h3>
        <ul>
            <li *ngFor="let wordCard of wordCardDeck.wordCardList">
              {{ wordCard.name }}
            </li>
        </ul>
    </div>
    <input type="text" id="item-input" #newItem>
    <button type="button" (click)="addNewItem(newItem.value)">Add to parent's list</button>
</div>
